<app-header></app-header>
<div class="profile">
      
  <ul class="breadcrumb">
                <li><a routerLink="/dashboard">Home</a></li>
                <li><a routerLink="/sellers">Manage Sellers</a></li>
                 <li><a>Seller Details</a></li>
            </ul>
   <div class="container">
        <div class="tabs">
<input type="radio" name="tab" id="tab1" checked="checked">
<label  for="tab1" class="tabb">Personal Info</label>
<input type="radio" name="tab" id="tab2">
<label for="tab2" class="tabb">Shop Info</label>
<!-- <input type="radio" name="tab" id="tab3">
<label for="tab3" class="tabb">Rewards</label>
<input type="radio" name="tab" id="tab4">
<label for="tab4" class="tabb">Change Password</label>
<input type="radio" name="tab" id="tab5">
<label for="tab5" class="tabb">Send email</label> -->


<!-- <div id="viewbuyerseller_modal" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <b>BUYER DETAILS</b>
    <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
    <form #viewBuyer="ngForm">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" disabled="disabled" placeholder="Full Name" [(ngModel)]="buyer.name"
            #nameEle="ngModel" autofocus
            required minlength="3">
        <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
            Please Enter Valid Name</span>
            </div>
            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" id="email" name="email" class="form-control" disabled="disabled" placeholder="Email" [(ngModel)]="buyer.email"
            #emailEle="ngModel"
            required minlength="3">
        <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
            Please Enter Valid Email</span>
            </div>
            <div class="form-group">
                <label for="name">Phone Number</label>
                <input type="text"  name="phone" id="phone" class="form-control" disabled="disabled" placeholder="Phone Number" [(ngModel)]="buyer.phone"
                #phoneEle="ngModel"
                required minlength="3">
            <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
                Please Enter Valid Phone Number</span>
                </div>
    </form>								
</div>
    </div>
    </div>
    </div> -->


<div class="tab-content-wrapper editform">
  <div id="tab-content-1" class="tab-content ">
    <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td >Name<span class="star">*</span></td>
                                        <td><input type="text" name="sName" id="sName" class="form-control" disabled="disabled" placeholder="Full Name" [(ngModel)]="sName"
                                            #nameEle="ngModel"
                                            required minlength="3"></td>
                    </tr>
                    <tr>
                        <td>Email address<span class="star">*</span></td>
                                        <td><input type="email" id="sEmail" name="sEmail" class="form-control" disabled="disabled" placeholder="Email" [(ngModel)]="sEmail"
                                            #emailEle="ngModel"
                                            required minlength="3"></td>
                    </tr>
                    <tr>
                        <td>Phone Number<span class="star">*</span></td>
                                        <td><input type="text"  name="sPhone" id="sPhone" class="form-control" disabled="disabled" placeholder="Phone Number" [(ngModel)]="sPhone"
                                            #phoneEle="ngModel"
                                            required minlength="3"></td>
                    </tr>
                    <!-- <tr>
                        <td>City Town</td>
                                        <td><input type="text" class="edit" placeholder="Name"></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                                        <td><select>
                                                <option>India</option>
                                                <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            </select>
                                        </td>
                    </tr>
                    <tr>
                        <td >State</td>
                                        <td><select>
                                                <option>India</option>
                                                <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            <option>India</option>
                                            </select></td>
                    </tr> -->
                    <tr>
                        <td>&nbsp;</td>
                                        <!-- <td><input type="submit" class="btn btn-primary" value="Save changes"></td> -->
                    </tr>
                </tbody>
            </table>
    
    
  </div>
  <div id="tab-content-2" class="tab-content">
    
    <div class="data-side">
      <!-- <h3>Shop Information</h3> -->
      <div class="space-lft-right">
    
          <div style="text-align:center;" *ngIf="!list" class="wrapform alert alert-primary">
              
             
              <h3>Seller Haven't Added Any Shop Yet !</h3>
              <br />
              
            </div>
    
            <div class="wrapform" *ngIf="list">
      
                <div class="card" *ngFor="let shop of allShops; let i=index">
                    
                    <div>
                        <div class="">
                        <div class="modal-content">
                        <div class="modal-header">
                        <b>SHOP DETAILS</b>
                        <!-- <button class="close" data-dismiss="modal">&times;</button> -->
                        </div>
                        <div class="modal-body">
                        <form #addShop="ngForm">
                            <div class="form-group">
                                Shop Name
                                <input type="text" name="name" id="name" class="form-control" disabled="disabled" placeholder="Shop Name" [(ngModel)]="shop.name"
                                #nameEle="ngModel" autofocus
                                required minlength="3">
                            <span class='text-danger' *ngIf="nameEle.touched && nameEle.errors && nameEle.errors.required">*
                                Please Enter Valid Shop Name</span>
                                </div>
                                
                                <div class="form-group">
                                Email Address
                                <input type="email" id="email" name="email" class="form-control" disabled="disabled" placeholder="Email" [(ngModel)]="shop.email"
                                #emailEle="ngModel"
                                required minlength="9">
                            <span class='text-danger' *ngIf="emailEle.touched && emailEle.errors && emailEle.errors.required">*
                                Please Enter Valid Email Address</span>
                                </div>
              
                                <div class="form-group">
                                   Phone Number
                                    <input type="text"  name="contact_no" id="contact_no" class="form-control" disabled="disabled" placeholder="Phone Number" [(ngModel)]="shop.contact_no"
                                    #phoneEle="ngModel"
                                    required minlength="10">
                                <span class='text-danger' *ngIf="phoneEle.touched && phoneEle.errors && phoneEle.errors.required">*
                                    Please Enter Valid Phone Number</span>
                                    </div>
              
                                <div class="form-group">
                                    Description
                                    <input type="text"  name="description" id="description" class="form-control" disabled="disabled" placeholder="Description" [(ngModel)]="shop.description"
                                    #descEle="ngModel"
                                    required minlength="5">
                                <span class='text-danger' *ngIf="descEle.touched && descEle.errors && descEle.errors.required">*
                                    Please Enter Valid Description</span>
                                    </div>
              
                                    <div class="form-group">
                                    Shopkeeper Name
                                <input type="text" name="shopkeeper_name" id="shopkeeper_name" class="form-control" disabled="disabled" placeholder="Shopkeeper Name" [(ngModel)]="shop.shopkeeper_name"
                                #shopkeeper_nameEle="ngModel"
                                required minlength="3">
                            <span class='text-danger' *ngIf="shopkeeper_nameEle.touched && shopkeeper_nameEle.errors && shopkeeper_nameEle.errors.required">*
                                Please Enter Valid Name</span>
                                </div>
              
                                    <div class="form-group">
                                        Pancard Number
                                        <input type="text" id="pancard_no" name="pancard_no" class="form-control" disabled="disabled" placeholder="Pancard Number" [(ngModel)]="shop.pancard_no"
                                        #pancard_noEle="ngModel" required minlength="7">
                                        <span class='text-danger' *ngIf="pancard_noEle.touched && pancard_noEle.errors && pancard_noEle.errors.required">*
                                            Please Enter Valid Pancard Number</span>
                                        </div>
              
                                        <div class="form-group">
                                            Personal Number
                                            <input type="text"  name="shopkeeper_no" id="shopkeeper_no" class="form-control" disabled="disabled" placeholder="Personal Number" [(ngModel)]="shop.shopkeeper_no"
                                            #shopkeeper_noEle="ngModel"
                                            required minlength="10">
                                        <span class='text-danger' *ngIf="shopkeeper_noEle.touched && shopkeeper_noEle.errors && shopkeeper_noEle.errors.required">*
                                            Please Enter Valid Phone Number</span>
                                            </div>
                                        <div class="form-group">
                                            Open Time
                                            <input type="time"  name="open_time" id="open_time" class="form-control" disabled="disabled" placeholder="Open Time" [(ngModel)]="shop.open_time"
                                            #open_timeEle="ngModel"
                                            required>
                                        <span class='text-danger' *ngIf="open_timeEle.touched && open_timeEle.errors && open_timeEle.errors.required">*
                                            Please Enter Valid Open Time</span>
                                            </div>
                                        <div class="form-group">
                                            Close Time
                                            <input type="time"  name="close_time" id="close_time" class="form-control" disabled="disabled" placeholder="Close Time" [(ngModel)]="shop.close_time"
                                            #close_timeEle="ngModel"
                                            required>
                                        <span class='text-danger' *ngIf="close_timeEle.touched && close_timeEle.errors && close_timeEle.errors.required">*
                                            Please Enter Valid Close Time</span>
                                            </div>
                                        
                                            <div class="form-group" *ngIf="documents">
                                                Documents<br>
                                                <img src="http://{{image}}" *ngFor="let image of shop.shopManagementPic;" style="width: 100px; padding:20px;">
                                                </div>
                            
                                            
              
                                    <div class="form-group">
              Banner
              <input type="text" id="banner" name="banner" class="form-control" disabled="disabled" placeholder="Banner" [(ngModel)]="shop.banner"
              #bannerEle="ngModel">
              </div>
                                    <div class="form-group">
              Status
              <!-- <input type="text" id="status" name="status" class="form-control" placeholder="Status" [(ngModel)]="shop.status"
      #statusEle="ngModel"> -->
      <td>
          <table class="smalltable">
            <tbody>
              <tr>
                <!-- <td><input type="radio" name="shop_vendor_display_status" value="OFF" title="Display Status" (change)="selectStatus($event.target.value)"> OFF</td> -->
                <td><input type="radio" name="shop_vendor_display_status" value="ON" title="Display Status" checked="" (change)="selectStatus($event.target.value)"> ON</td>
              </tr>
            </tbody>
          </table>
          
        </td>
              </div>
                                    <div class="form-group">
              Address
              <textarea id="address" name="address" class="form-control" disabled="disabled" placeholder="Address" [(ngModel)]="shop.address"
              #addressEle="ngModel"></textarea>
              </div>
              <div class="form-group">
                  Country
                  <input type="text" id="country" name="country" class="form-control" disabled="disabled" placeholder="Country" [(ngModel)]="shop.country"
                  #countryEle="ngModel">
                  </div>
                  <div class="form-group">
                      State
                      <input type="text" id="state" name="state" class="form-control" disabled="disabled" placeholder="State" [(ngModel)]="shop.state"
                      #stateEle="ngModel">
                      </div>
                      <div class="form-group">
                          City
                          <input type="text" id="city" name="city" class="form-control" disabled="disabled" placeholder="City" [(ngModel)]="shop.city"
                          #cityEle="ngModel">
                          </div>
                          <div class="form-group">
                              Zip Code
                              <input type="text" id="postal_code" name="postal_code" disabled="disabled" class="form-control" placeholder="Zip Code" [(ngModel)]="shop.postal_code"
                              #postal_codeEle="ngModel">
                              </div>
                          <div class="form-group">
                              License Number
                              <input type="text" id="license_no" name="license_no" class="form-control" disabled="disabled" placeholder="License Number" [(ngModel)]="shop.license_no"
                              #license_noEle="ngModel">
                              </div>
                          <div class="form-group">
                              GST Number
                              <input type="text" id="gst_no" name="gst_no" class="form-control" disabled="disabled" placeholder="GST Number" [(ngModel)]="shop.gst_no"
                              #gst_noEle="ngModel">
                              </div>
                          
                        <!-- <div class="form-group">
                        <input type="submit" id="addshop" name="addshop" [disabled]="!addShop.form.valid" (click)="addNewShop()" class="btn btn-primary btn-block">
                        </div> -->
                        </form>								
                      </div>
                       
                        </div>
                        </div>
                        </div>
                  </div>
                  
                </div>
    
    
          </div>
        </div>  
    
    
  </div>
    <!-- <div id="tab-content-3" class="tab-content">
        
        <table class="datatable table-listing">
            <thead>
                <tr>
                <th width="10%">Points</th>
                <th width="60%">Description</th>
                <th width="15%">Added Date</th>
                <th width="15%">Expiry Date</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">No record Flound</td>
                </tr>
            </tbody>
            
        </table>
        <div class="gap"></div>
        <form method="post">
            <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>Points<span class="star">*</span></td>
                                        <td><input type="text" class="rewards" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Description<span class="star">*</span></td>
                                        <td><textarea class="rewards"></textarea>     

                    </tr>
                    <tr>
                        <td>Validity</td>
                                        <td><input type="text" class="rewards"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
        </form>
        
    </div>
    <div id="tab-content-4" class="tab-content">
        <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>New Password<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>Confirm Password<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                    </tr>
                </tbody>
            </table>
    
        
    </div>
    <div id="tab-content-5" class="tab-content">
        <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-form-horizontal">

                <tbody>
                    <tr>
                        <td>Mail Subject<span class="star">*</span></td>
                                        <td><input type="text" class="edit" required></td>
                    </tr>
                    <tr>
                        <td>Message<span class="star">*</span></td>
                                        <td><textarea></textarea></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                                        <td><input type="submit" class="btn btn-primary" value="Send Email"></td>
                    </tr>
                </tbody>
            </table>
    
        
    </div> -->
    
</div>
</div>


   </div>

</div>
