<div class="card">
                       
                       
  <div class="sectionhead"><h4>Manage - Products</h4>
  
  <ul class="breadcrumb">
<li><a routerLink="/dashboard">Home</a></li>
<li><a href="0">Manage Products</a></li>
</ul>

   <button class="btn btn-primary addkart" style="float: right;" data-toggle="modal" data-target="#addproduct_modal" data-backdrop="static" data-keyboard="false">Add Category</button> 
  </div>
  <div class="sectionbody" id="products-list"><form name="paginateForm" id="paginateForm" action="" method="post"><input type="hidden" name="keyword" value=""><input type="hidden" name="minprice" value=""><input type="hidden" name="maxprice" value=""><input type="hidden" name="category" value=""><input type="hidden" name="date_from" value=""><input type="hidden" name="date_to" value=""><input type="hidden" name="active" value=""><input type="hidden" name="product_shop" value=""><input type="hidden" name="brand_manufacturer" value=""><input type="hidden" name="type" value=""><input type="hidden" name="btn_submit" value="Search"><input type="hidden" name="btn_cancel" value="Clear Search"><input type="hidden" name="mode" value="search"><input type="hidden" name="shop" value=""><input type="hidden" name="brand" value=""><input type="hidden" name="page" value="1"></form><table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
<tbody><tr>
<th width="25%">Name</th>
<th width="10%">Type</th>
<th width="15%">Shop</th>
<th width="2%">Sold</th>
<th width="2%">Available</th>
<th width="10%">Price</th>
<th width="8%">Date</th>
<th width="6%">Commission</th>
<th>Action</th>    </tr>
<tr>

<td>Pass</td>
<td>Digital</td>
<td>Shark</td>
<td>0</td>
<td>1</td>
<td nowrap="nowrap">
              &#x20B9;10.00                            </td>
<td>Jul 18, 2018</td>
<td nowrap="nowrap">
&#x20B9;0.60            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product">
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Cotton rol</td>
<td>Physical</td>
<td>Shark</td>
<td>0</td>
<td>5</td>
<td nowrap="nowrap">
              &#x20B9;500.00                            </td>
<td>Jul 16, 2018</td>
<td nowrap="nowrap">
&#x20B9;30.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>lakme eyeliner</td>
<td>Physical</td>
<td>Shark</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;25.00                            </td>
<td>Jul 16, 2018</td>
<td nowrap="nowrap">
&#x20B9;1.50            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product">
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Mickey TShirt</td>
<td>Physical</td>
<td>Shark</td>
<td>0</td>
<td>1</td>
<td nowrap="nowrap">
              &#x20B9;120.00                            </td>
<td>Jul 16, 2018</td>
<td nowrap="nowrap">
&#x20B9;7.20            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Davidoff Coolwater Men Eau de Toilette</td>
<td>Physical</td>
<td>My Fashion</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;50.00                            </td>
<td>Oct 04, 2017</td>
<td nowrap="nowrap">
&#x20B9;5.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>New Test Product</td>
<td>Digital</td>
<td>Shark</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;2,000.00                            </td>
<td>Mar 28, 2017</td>
<td nowrap="nowrap">
&#x20B9;120.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Air Condition</td>
<td>Physical</td>
<td>Shark</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;250.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;15.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>LG Refrigerators</td>
<td>Physical</td>
<td>Shark</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;1,500.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;90.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Phillips HeadPhones</td>
<td>Physical</td>
<td>Shark</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;150.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;9.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Reebok Dri-Fit</td>
<td>Physical</td>
<td>BestWomenStore</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;52.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;3.12            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Slazenger</td>
<td>Physical</td>
<td>BestWomenStore</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;65.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;3.90            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>BaseBall Cap</td>
<td>Physical</td>
<td>Shark</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;50.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;3.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Red Sofa</td>
<td>Physical</td>
<td>Homestore</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;1,950.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;117.00            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Reebok dri-fit</td>
<td>Physical</td>
<td>BestWomenStore</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;95.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;5.70            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
<tr>

<td>Nike JEANS</td>
<td>Physical</td>
<td>BestWomenStore</td>
<td>0</td>
<td>10</td>
<td nowrap="nowrap">
              &#x20B9;95.00                            </td>
<td>Dec 14, 2016</td>
<td nowrap="nowrap">
&#x20B9;5.70            </td>


<td nowrap="nowrap">
<ul class="actions">
  <li>
      <a href="javascript:void(0);" title="Click to Enable" class="toggleswitch enabled">
          <i class="fas fa-check-circle"></i>
      </a>
  </li>
  <li>
      <a title="Edit" routerLink="/edit-product" >
          <i class="fas fa-edit"></i>
      </a>
  </li>
  <li>
      <a title="Delete" href="javascript:void(0);" onclick="ConfirmShopDelete(2, &#x20B9;(this));">
          <i class="fas fa-trash-alt"></i>
      </a>
  </li>
</ul></td>
</tr>
</tbody></table>
<div class="gap"></div>

<div class="footinfo">


<aside class="grid_1">
<ul class="pagination">
<li class="selected"><a href="javascript:void(0)">1</a></li><li><a href="javascript:void(0)" onclick="listPages(2)">2</a></li><li><a href="javascript:void(0)" onclick="listPages(3)">3</a></li><li><a href="javascript:void(0)" onclick="listPages(4)">4</a></li><li><a href="javascript:void(0)" onclick="listPages(5)">5</a></li><li><a href="javascript:void(0)" onclick="listPages(6)">6</a></li><li><a href="javascript:void(0)" onclick="listPages(7)">7</a></li><li><a href="javascript:void(0)" onclick="listPages(8)">8</a></li><li><a href="javascript:void(0)" onclick="listPages(9)">9</a></li><li><a href="javascript:void(0)" onclick="listPages(10)">10</a></li><li><a href="javascript:void(0)" onclick="listPages(11)">11</a></li>...        </ul>
</aside>
<aside class="grid_2"><span class="info">Showing 1 to 15            of 400 entries</span></aside>

</div></div>
</div>


<div id="addproduct_modal" class="modal fade">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<b>ADD PRODUCTS</b>
<button class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<form method="post">
<div class="form-group">
<label >Name</label>
<input type="text"  class="form-control">
</div>
<div class="form-group">
<label >Type</label>
<input type="text" class="form-control" >
</div>
<div class="form-group">
<label >Shop</label>
<input type="text"   class="form-control">
</div>
<div class="form-group">
<label>Sold</label>
<input type="number"  class="form-control">
</div>
<div class="form-group">
<label>Available</label>
<input type="number"  class="form-control">
</div>
<div class="form-group">
<label>Price</label>
<input type="number"  class="form-control">
</div>
<div class="form-group">
<label>Date</label>
<input type="date"  class="form-control">
</div>
<div class="form-group">
<label>Commission</label>
<input type="number"  class="form-control">
</div>
<div class="form-group">
<input type="Submit" class="btn btn-primary btn-block" name="submit">
</div>
</form>
</div>
<div class="modal-footer">
<button  class="btn btn-default"  data-dismiss="modal">close</button> 
</div>
</div>
</div>
</div>
