<div class="row">
  <div class="col">
      <div class="card">
          <div class="sectionbody" id="categories-list">
              <div class="sectionhead"><h4>Funds Withdrawal Request</h4>
                  <div class="clear"></div>
                  <ul class="breadcrumb ">
                      <li><a href="0">Home</a></li>
                  </ul>
              </div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                  <tbody>
                      <tr>
                          <th width="10%">ID</th>
                          <th width="20%">User Details</th>
                          <th width="10%">Balance</th>
                          <th width="10%">Amount</th>
                          <th width="25%">Account Details</th>
                          <th width="10%">Date</th>
                          <th width="10%">Status</th>
                          <th>Action</th>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>
                              <strong>N:</strong>
                              maxixx
                              <br>
                              <strong>U:</strong>
                              maxixx ABC
                              <br>
                              <strong>E:</strong>
                              maxixx@gmail.com
                              <br>
                          </td>
                          <td>&#x20B9;700</td>
                          <td>&#x20B9;200</td>
                          <td>
                              <strong>Bank Name:</strong>
                              SBI
                              <br>
                              <strong>A/c Name:</strong>
                              Ashu
                              <br>
                              <strong>A/c Number:</strong>
                              34567289536789
                              <br>
                              <strong>IFSC Code/Swift Code:</strong>
                              m09876
                              <br>
                              <strong>Bank Address:</strong>
                              Test tester 32 Washington, United States T: 07500056865 
                              <br>
                              <strong>Comments/Instructions:</strong>
                              <br>
                          </td>
                          <td>July 23, 2018</td>
                          <td><span class="label label-success">Approved</span></td>
                          <td>Yes</td>
                          
                      </tr>
                      
                     
                     <tr>
                          <td>1</td>
                          <td>
                              <strong>N:</strong>
                              maxixx
                              <br>
                              <strong>U:</strong>
                              maxixx ABC
                              <br>
                              <strong>E:</strong>
                              maxixx@gmail.com
                              <br>
                          </td>
                          <td>&#x20B9;700</td>
                          <td>&#x20B9;200</td>
                          <td>
                              <strong>Bank Name:</strong>
                              SBI
                              <br>
                              <strong>A/c Name:</strong>
                              Ashu
                              <br>
                              <strong>A/c Number:</strong>
                              34567289536789
                              <br>
                              <strong>IFSC Code/Swift Code:</strong>
                              m09876
                              <br>
                              <strong>Bank Address:</strong>
                              Test tester 32 Washington, United States T: 07500056865 
                              <br>
                              <strong>Comments/Instructions:</strong>
                              <br>
                          </td>
                          <td>July 23, 2018</td>
                          <td><span class="label label-success">Approved</span></td>
                          <td>Yes</td>
                          
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>
                              <strong>N:</strong>
                              maxixx
                              <br>
                              <strong>U:</strong>
                              maxixx ABC
                              <br>
                              <strong>E:</strong>
                              maxixx@gmail.com
                              <br>
                          </td>
                          <td>&#x20B9;700</td>
                          <td>&#x20B9;200</td>
                          <td>
                              <strong>Bank Name:</strong>
                              SBI
                              <br>
                              <strong>A/c Name:</strong>
                              Ashu
                              <br>
                              <strong>A/c Number:</strong>
                              34567289536789
                              <br>
                              <strong>IFSC Code/Swift Code:</strong>
                              m09876
                              <br>
                              <strong>Bank Address:</strong>
                              Test tester 32 Washington, United States T: 07500056865 
                              <br>
                              <strong>Comments/Instructions:</strong>
                              <br>
                          </td>
                          <td>July 23, 2018</td>
                          <td><span class="label label-danger">Cancelled</span></td>
                          <td>Yes</td>
                          
                      </tr>
                      
                  </tbody></table>
          <div class="gap"></div>
          </div>
      </div>
  </div>
</div>

