<app-header></app-header>
<div class="profile">
  <ul class="breadcrumb">
    <li><a routerLink="/dashboard">Home</a></li>
    <li><a routerLink="/buyer-seller">Manage Buyers and Sellers</a></li>
    <li><a routerLink="/profile">View Profile</a></li>
  </ul>
  <div class="container">
    <div class="tabs">
      <!--
        <input type="radio" name="tab" id="tab1" checked="checked" />
        <label for="tab1">Personal Information</label>
        <input type="radio" name="tab" id="tab2" />
        <label for="tab2">Bank Details</label>
      -->
      <input type="radio" name="tab" id="tab3" checked="checked" />
      <label for="tab3">Change Password</label>

      <div class="tab-content-wrapper">
        <!--
          <div id="tab-content-1" class="tab-content">
            <table style="width: 100%">
              <tbody>
                <tr>
                  <td class="bold">First name</td>
                  <td>John</td>
                </tr>
                <tr>
                  <td class="bold">Last name</td>
                  <td>John</td>
                </tr>
                <tr>
                  <td class="bold">Gender</td>
                  <td>Male</td>
                </tr>
                <tr>
                  <td class="bold">Email Id</td>
                  <td>John@gmail.com</td>
                </tr>
                <tr>
                  <td class="bold">Mobile number</td>
                  <td>1234</td>
                </tr>
                <tr>
                  <td class="bold">Address</td>
                  <td>1234 street, new york</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="tab-content-2" class="tab-content">
            <table class="table1" style="width: 100%">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="bold">Bank Name</td>
                  <td>John</td>
                </tr>
                <tr>
                  <td class="bold">Account number</td>
                  <td>2345</td>
                </tr>
                <tr>
                  <td class="bold">IFSC Code</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td class="bold">Bank Address</td>
                  <td>abd street, chd</td>
                </tr>
              </tbody>
            </table>
          </div>
        -->
        <div id="tab-content-3" class="tab-content">
          <form #changePass="ngForm">
            <table
              style="width: 100%"
              border="0"
              cellspacing="0"
              cellpadding="0"
              class="table-form-horizontal"
            >
              <tbody>
                <tr>
                  <td>Old Password<span class="star">*</span></td>
                  <td>
                    <input
                      type="password"
                      class="edit"
                      id="oldpassword"
                      name="oldpassword"
                      placeholder="Old Password"
                      [(ngModel)]="oldpassword"
                      #opassEle="ngModel"
                      autofocus
                      required
                      minlength="3"
                    />
                    <span
                      class="text-danger"
                      *ngIf="
                        opassEle.touched &&
                        opassEle.errors &&
                        opassEle.errors.required
                      "
                      >* Please Enter Valid Old Password</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>New Password<span class="star">*</span></td>
                  <td>
                    <input
                      type="password"
                      class="edit"
                      id="newpassword"
                      name="newpassword"
                      placeholder="New Password"
                      [(ngModel)]="newpassword"
                      #npassEle="ngModel"
                      required
                      minlength="3"
                    />
                    <span
                      class="text-danger"
                      *ngIf="
                        npassEle.touched &&
                        npassEle.errors &&
                        npassEle.errors.required
                      "
                      >* Please Enter Valid New Password</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>Confirm Password<span class="star">*</span></td>
                  <td>
                    <input
                      type="password"
                      class="edit"
                      id="cpassword"
                      name="cpassword"
                      placeholder="Confirm Password"
                      [(ngModel)]="cpassword"
                      #cpassEle="ngModel"
                      required
                      minlength="3"
                    />
                    <span
                      class="text-danger"
                      *ngIf="
                        cpassEle.touched &&
                        cpassEle.errors &&
                        cpassEle.errors.required
                      "
                      >* Please Enter Valid Confirm Password</span
                    >
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <input
                      type="submit"
                      class="btn btn-primary"
                      value="Save changes"
                      [disabled]="!changePass.form.valid"
                      (click)="changePassword()"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
