<div class="row">
  <div class="col">
      <div class="editshop">
          <div class="sectionbody" id="categories-list"><form name="paginateForm" id="paginateForm" action="" method="post"><input type="hidden" name="keyword" value=""><input type="hidden" name="status" value=""><input type="hidden" name="btn_submit" value="Search"><input type="hidden" name="btn_cancel" value="Clear Search"><input type="hidden" name="mode" value="search"><input type="hidden" name="page" value="1"><input type="hidden" name="parent" value="0"></form><div class="sectionhead"><h4>SHOP SETUP</h4>

             
             <div class="clear"></div>
              <ul class="breadcrumb">
                  <li><a href="home">Home</a></li>
                  <li><a href="0">Shops</a></li>
                  <li><a href="0">Edit Shops</a></li>
              </ul>
              
              <div class="shop">
                  <table style="width: 100%" border="0" cellspacing="0" cellpadding="0" class="table-edit-shop">
  
                  <tbody>
                                  <tr>
                                      <td width="25%" colspan="2">
                                          <h6>Basic Information</h6><br>
                                      </td>
                                  </tr>
                      <tr>
                          <td >User name<span class="star">*</span></td>
                                          <td><input type="text"  placeholder="Name"></td>
                      </tr>
                      <tr>
                          <td>Description<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                      <tr>
                          <td>Shop Logo<span class="star">*</span></td>
                                          <td><input type="file" ></td>
                      </tr>
                      <tr>
                          <td>Shop Banner<span class="star">*</span></td>
                                          <td><input type="file"></td>
                      </tr>
                      <tr>
                          <td>Featured Shop</td>
                                          <td><input type="checkbox" value="1"></td>
                                          <span class="clear"></span><small></small>
                      </tr>
                      <tr>
                          <td>Enable COD Orders</td>
                                          <td><input type="checkbox" value="1"></td>
                                          <span class="clear"></span><small></small>
                      </tr>
                      <tr>
                          <td width="25%" colspan="2">
                              <h6>Shop Address</h6><br>
                          </td>
                      </tr>
                      <tr>
                          <td >Contact Person Name<span class="star">*</span></td>
                                          <td><input type="text"  placeholder="Name"></td>
                      </tr>
                      <tr>
                          <td>Phone<span class="star">*</span></td>
                                          <td><input type="text"  placeholder="Name"></td>
                      </tr>
                      <tr>
                          <td>Address Line 1<span class="star">*</span></td>
                                          <td><input type="text" ></td>
                      </tr>
                      <tr>
                          <td>Address Line 2<span class="star">*</span></td>
                                          <td><input type="text" ></td>
                      </tr>
                      <tr>
                          <td>City<span class="star">*</span></td>
                                          <td><input type="text" ></td>
                      </tr>
                      <tr>
                          <td>Post code<span class="star">*</span></td>
                                          <td><input type="text" ></td>
                      </tr>
                      <tr>
                          <td>Country</td>
                                          <td><select>
                                                  <option>India</option>
                                                  <option>India</option>
                                              <option>India</option>
                                              <option>India</option>
                                              <option>India</option>
                                              </select>
                                          </td>
                      </tr>
                      <tr>
                          <td >State</td>
                                          <td><select>
                                                  <option>India</option>
                                                  <option>India</option>
                                              <option>India</option>
                                              <option>India</option>
                                              <option>India</option>
                                              </select></td>
                      </tr>
                      <tr>
                          <td width="25%" colspan="2">
                              <h6>Shop Policies</h6><br>
                          </td>
                      </tr>
                      <tr>
                          <td>Payment Policy<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                      <tr>
                          <td>Delivery Policy<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                      <tr>
                          <td>Refund Policy<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                      <tr>
                          <td>Additional Information<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                      <tr>
                          <td>Seller Information<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                      <tr>
                          <td width="25%" colspan="2">
                              <h6>Shop SEO Information</h6><br>
                          </td>
                      </tr>
                       <tr>
                          <td >Meta Tag Title<span class="star">*</span></td>
                                          <td><input type="text"  placeholder="Name"></td>
                      </tr>
                      <tr>
                          <td>Meta Tag Keywords<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                       <tr>
                          <td>Meta Tag Description<span class="star">*</span></td>
                                          <td><textarea></textarea></td>
                      </tr>
                      <tr>
                          <td>&nbsp;</td>
                                          <td><input type="submit" class="btn btn-primary" value="Save changes"></td>
                      </tr>
                  </tbody>
              </table>
              
              
              </div>
               
      </div>
  </div>
</div>
