<div class="row">
  <div class="col">
      <div class="card">
          <div class="sectionbody" id="categories-list">
              <div class="sectionhead"><h4>Product Subcategories</h4>
                  <div class="clear"></div>
                  <ul class="breadcrumb ">
                      <li><a href="0">Home</a></li>
                  </ul>
              </div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
                  <tbody>
                      <tr>
                          <th width="10%">S. No.</th>
                          <th width="20%">Name</th>
                          <th width="15%">Parent</th>
                          <th width="15%">Products</th>
                          <th width="10%">Active</th>
                          <th>Action</th>
                      </tr>
                      <tr>
                          <td>1</td>
                          <td>Fashion</td>
                          <td>Fashion</td>
                          <td><a href="38">6</a></td>
                          <td>Yes</td>
                          <td>
                              <ul class="actions">
                                  <li>
                                      <a title="Click to Disable" class="toggleswitch enabled">
                                          <i class="fas fa-check-circle"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Edit" href="/manager/shops/form/26">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Delete"   onclick="ConfirmShopDelete(26)">
                                          <i class="fas fa-trash-alt"></i>
                                      </a>
                                  </li>
                              </ul>
                          </td>
                      </tr>
                      
                     
                      <tr>
                          <td>7</td>
                          <td>Books &amp; Media</td>
                          <td>Fashion</td>
                          <td><a href="375">3</a></td>
                          <td>Yes</td>
                          <td>
                              <ul class="actions">
                                  <li>
                                      <a title="Click to Disable" class="toggleswitch enabled">
                                          <i class="fas fa-check-circle"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Edit" href="/manager/shops/form/26">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Delete"   onclick="ConfirmShopDelete(26)">
                                          <i class="fas fa-trash-alt"></i>
                                      </a>
                                  </li>
                              </ul></td>
                      </tr>
                      <tr>
                          <td>8</td>
                          <td>Art</td>
                          <td>Fashion</td>
                          <td><a href="375">3</a></td>
                          <td>Yes</td>
                          <td>
                              <ul class="actions">
                                  <li>
                                      <a title="Click to Disable" class="toggleswitch enabled">
                                          <i class="fas fa-check-circle"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Edit" href="/manager/shops/form/26">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Delete"   onclick="ConfirmShopDelete(26)">
                                          <i class="fas fa-trash-alt"></i>
                                      </a>
                                  </li>
                              </ul></td>
                      </tr>
                      <tr>
                          <td>9</td>
                          <td>Sports</td>
                          <td>Fashion</td>
                          <td><a href="375">3</a></td>
                          <td>Yes</td>
                          <td>
                              <ul class="actions">
                                  <li>
                                      <a title="Click to Disable" class="toggleswitch enabled">
                                          <i class="fas fa-check-circle"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Edit" href="/manager/shops/form/26">
                                          <i class="fas fa-edit"></i>
                                      </a>
                                  </li>
                                  <li>
                                      <a title="Delete"   onclick="ConfirmShopDelete(26)">
                                          <i class="fas fa-trash-alt"></i>
                                      </a>
                                  </li>
                              </ul></td>
                      </tr>
                  </tbody></table>
          <div class="gap"></div>
          </div>
      </div>
  </div>
</div>
