/* nav .fas {
    color: #fff;
    font-size: 36px;
    padding: 5px 10px 0 0;
} */

/* header */

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    text-decoration: none !important;
}

.row {
    max-width: 100%;
}
/* input{
    font-weight: bold;
} */
input::placeholder {font-size: 12px; font-style: italic; }


.nav {
  position: fixed;
  top: 0;
  left: -332px;
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #444;
  transition: left 500ms ease;
  z-index: 100;
}
.nav ul {
  position: relative;
  list-style-type: none;
  margin: 100px 0;
  padding: 0;
}
.nav ul li {
  position: relative;
  display: block;
}
.nav ul li a {
  position: relative;
  display: block;
  margin: 0;
  padding: 15px 20px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav ul li a:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: width 250ms ease;
  z-index: -1;
}
ul li.main-nav {
    border-bottom: solid 1px #f5f5f5;
    margin-left: -10px;
    color: #fff;
}
ul li.main-nav a{

    font-size: 20px;
}
.nav ul li a:hover {
  color: #444;
}
ul li.main-nav:hover{
    color: #444;
}
.nav ul li a:hover:before {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: width 250ms ease;
}



.navbar {
    position: fixed;
    overflow: hidden;
  top: 0;
  width: 100%;
    
    padding: 3px 0 !important;
    z-index: 101;
}
.navbar-brand{
    float:left;
    background-image: url("assets/logo.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 50px;
    display: block;
    z-index:10000;
}
.navbar-brand, .navbar-collapse {
    float: left;
}

.nav .open>a {
    background-color: transparent;
}

.nav .open>a:hover {
    background-color: transparent;
}

.nav .open>a:focus {
    background-color: transparent;
}


/*
#wrapper {
    width: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
    height: calc(100% + 6px);
    float: left;
    position: fixed;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -ms-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    float: left;
}
*/

/*
#sidebar-wrapper {
    
    position: fixed;
  top: 0;
  left: -210px;
  width: 300px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #444;
  transition: left 500ms ease;
  z-index: 0;
    
*/
/*
    background: #1a1a1a;
    height: 100%;
    margin-left: -220px;
    margin-top: -6px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
*/
}
/*
#sidebar-wrapper  ul {
  position: relative;
  list-style-type: none;
  margin: 100px 0;
  padding: 0;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#page-content-wrapper {
    padding-top: 0px;
    width: 100%;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 220px;
    z-index: 0;
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}

.sidebar-nav li:before {
    background-color: #;
}
*/

.navbar-header {
    position: fixed;
    width: 100%;
    z-index: 9;
}

.content {
    margin-top: 60px;
}

/*
.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}

.sidebar-nav .dropdown-menu {
    background-color: #222222;
    -ms-border-radius: 0;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}
.page-content-wrapper::before{
   
}
*/
#menu {
  display: none;
}
.hamburger {
  position: fixed;
  top: 9px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  background-color:#262626;
  transition: transform 250ms ease;
  cursor: pointer;
  z-index: 200;
}
.hamburger span{
    position: relative;
  display: block;
  width: 40%;
  height: 3px;
    color: white;
  background-color: #fff;
  float: left;
  transform-origin: center center;
  transition: transform 250ms ease;
  z-index: 201;
}
.hamburger span:nth-of-type(1) {
  transform: translateY(-5px);
}
.hamburger span:nth-of-type(3) {
  transform: translateY(5px);
}
#menu:checked ~ .hamburger {
  background-color: transparent;
  transform: rotate(360deg);
  transition: transform 250ms ease;
}
#menu:checked ~ .hamburger span {
  background-color: white;
  transition: transform 250ms ease;
}
#menu:checked ~ .hamburger span:nth-of-type(1) {
  transform: translateY(1px) rotate(45deg);
}
#menu:checked ~ .hamburger span:nth-of-type(2) {
  display: none;
}
#menu:checked ~ .hamburger span:nth-of-type(3) {
  transform: translateY(-1px) rotate(-45deg);
}
#menu:checked ~ nav{
  left: 0px;
  transition: left 500ms ease;
}
#menu:checked ~ main {
  transform: translateX(250px);
  transition: transform 500ms ease;
}










/*
 .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
} 
*/



ul li.main-nav {
    border-bottom: solid 1px #f5f5f5;
    color: #fff;
    font-size: 20px;
    margin-left: -10px;
}

.navbar-dark {
    padding: 0 0 0 40px;
}

.nav-profile-pic a{
    padding: 5px;
}

.nav-profile-pic img{
    border-radius: 50%;
}


/* Home */



.card {
    margin-top: 100px;
    background: #fff;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
   margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: block;
    max-width: 100%;
    overflow-x: scroll;
}

.login .card {
    margin: 40px auto;
    max-width: 400px;
}

.login h3 {
    padding: 10px 20px;
    text-align: center;
}

ul.breadcrumb {
    width:100%;
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}
ul.breadcrumb li {
    display: inline;
    font-size: 13px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #78b3e6;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


.table th {
    text-transform: uppercase;
    padding: 15px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.graphcontent th {
    padding: 28px 10px;
    font-size: 15px;
}

.graphcontent tr.first td {
    font-size: 19px;
    font-weight: 700;
    color: #fa8564;
}

.graphcontent td:first-child {
    text-transform: uppercase;
    padding-left: 20px;
}

.paneltop {
    width: 100%;
    display: inline-block;
    margin: 0 0 15px 0;
    position: relative;
}
.graphcontent .col {
    
}
.card .one,
.card .two {
    margin-left: 80px;
    min-height: 400px;
}


.card h4 {
    padding: 0;
    font-size: 18px;
    color: #333;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.card h4 strong {
    font-weight: 600;
}

.horizontal_gridsthird {
/*    width: 100%;*/
/*    display: flex;*/
/*    table-layout: fixed;*/
    margin: 0 0 0;
}

.horizontal_gridsthird li:first-child {
    padding-left: 0;
}

.horizontal_gridsthird li {
    display: table-cell;
    vertical-align: top;
    padding: 4px 7px 10px;
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    color: #1ec785;
}

.horizontal_gridsthird li span {
    display: block;
    font-weight: 300;
    color: #666;
    text-transform: uppercase;
    font-size: 11px;
}

@media (max-width: 360px) {
    .horizontal_gridsthird {
        width:100%;
        flex-direction: coloumn;
        overflow-x:scroll;
    }
    .horizontal_gridsthird li{
        flex: 1 0 25%;
    }
}
.ion-android-more-vertical:before {
    content: "\f397";
}

.card .bulletlist {
    margin: 0;
}

.bulletlist {
    margin: 15px 0;
    width: 100%;
    display: inline-block;
    list-style: none;
}

ul {
    list-style: disc outside;
    font-size: 14px;
    color: #666;
    margin: 15px;
    text-transform: capitalize;
}

.card .bulletlist li {
    font-size: 13px;
    color: #666;
    padding: 0 100px 10px 20px;
    position: relative;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bulletlist.org li:before {
    background: #fa8564;
}

.card .bulletlist li:before {
    width: 7px;
    height: 7px;
    top: 7px;
}

.bulletlist li:before {
    position: absolute;
    left: 0;
    top: 5px;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #777;
}

.bulletlist.org li .count {
    color: #fa8564;
}

.bulletlist li .count {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 13px;
    font-weight: 600;
}

.card .sectionhead {
    width: 100%;
    position: relative;
    padding: 15px;
/*    background: #fafafa;*/
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #eee;
    display: inline-block;
}

.label {
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
    padding: 4px 8px 4px;
    text-align: left;
    vertical-align: baseline;
/*    display: inline-block;*/
}

.label.label-info {
    background: none repeat scroll 0 0 #12afcb;
}

.label.label-success {
    background: none repeat scroll 0 0 #22baa0;
}

.label.label-danger {
    background: none repeat scroll 0 0 #ff0000;
}

.actions, .actions > li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    list-style: none;
    padding-left: 0px;
}

.table .actions > li > a {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background: #fff;
    padding: 6px;
}
.viewprofile a{
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background: #fff;
    padding: 6px;
    margin-left: 28px;
}
.table td {
    vertical-align: top !important;
    padding: 15px 15px !important;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px solid #eeeeee;
}

.actions .enabled > .fas {
    color: #8dbc14 !important;
}

.actions > li > a .fas {
    color: #777;
    width: 20px;
    text-align: center;
}

.footer-container {
    margin-top:100px;
    padding: 10px 0 20px 0;
}

.footer-container .copyright {
    color: #999;
    font-size: 12px;
    text-align: center;
}

.gap {
    height: 15px;
    display: block;
    clear: both;
}

.footinfo {
    width: 100%;
    padding: 15px;
}
.grid_00{
    margin-left: 667px;
    margin-top: -114px;
}
.footinfo .grid_1 {
    width: 50%;
}

.footerinfo .grid_1,
.footerinfo .grid_2 {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

.footinfo .grid_2 {
    width: 50%;
    text-align: right;
}

.footinfo .info {
    border: 1px solid #ddd;
    font-size: 13px;
    color: #666;
    padding: 0 10px;
    height: 35px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    background: #f7f7f7;
    border: 1px solid #ececec;
}

.footinfo .grid_1 .pagination {
    float: left;
}

.pagination {
    text-align: center;
    margin: 0;
    list-style: none;
}

.pagination li {
    display: inline-block;
    vertical-align: top;
    margin: 0 1px;
}

.pagination li.selected a {
    background: #2196f3;
    border-color: #2196f3;
    color: #fff;
}

.pagination li a {
    width: 35px;
    line-height: 32px;
    text-align: center;
    background: #f7f7f7;
    height: 35px;
    display: block;
    font-size: 14px;
    color: #333;
    border: 1px solid #ececec;
    border-radius: 100%;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}


@media (max-width: 414px) {

    .navbar-brand{
        display: none;
        background-image: url("assets/new.png"); 
        background-repeat: no-repeat;
        display: block;
        margin-left:77px;
        margin-top:10px;
    }
    .navbar-nav{
        position:absolute;
        top:-4%;
        left: 77%;
    }
    .navbar-brand img{
        width: 100px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        margin-left: 77px; 
    }

    .table td, .table th {
        padding: 10px;
        white-space: nowrap;
        font-size: 11px;
    }
}
@media (max-width: 1024px) {
    .navbar-brand {
        margin-left: 77px; 
    }
}


/* apply a natural box layout model to all elements */



.fixed-container{
/*    max-width: 1220px;*/
    width: 100%;
    margin: 10px auto;
    position: relative;
    padding: 0 15px;
}
.flipcards{
    width:100%;
    margin-top:90px;
}
.cellgrid{
    margin-left:15px;
    margin-top: 30px;
    width: 100%;
    display: flex;
   table-layout: fixed;
    list-style:none;
}
.cellgrid li{
    display:table-cell;
    vertical-align: top;
    padding: 0 10px;
}


.container1{
				position: relative;
    top: 14px;
				width: 295px;
				height: 145px;
    
			} 
			.flip{
				position: absolute;
				width: 100%;
				height: 100%;
				transform-style: preserve-3d;
				transition: all 0.5s ease;
			}
			.flip:hover{
				transform: rotateY(180deg);
			}
			.front{
				position: absolute;

				width: 100%;
				height: 100%;

				color: #333;
				backface-visibility: hidden;
				text-align: center;
				font-family: sans-serif;
/*				border-radius: 10px;*/
				font-size: 18px;
				font-weight: bold;
                box-shadow: 0 0px 8px rgba(0, 0, 0, 1.2);
/*              border: 1px solid #262626;*/
               
			}	
			.back{
                display: table;
				position: absolute;
			width: 100%;
				height: 100%;

				backface-visibility: hidden;
/*				background:#fff;*/
				color: black;
				text-align: center;
				font-family: sans-serif;
/*				border-radius: 10px;*/
/*				font-size: 18px;*/
/*				font-weight: bold;*/
				transform: rotateY(180deg);
/*                border: 1px solid #262626;*/
                box-shadow: 0 0px 8px rgba(0, 0, 0, 1.2);
			}				
  
.iconbox{
/*    position: relative;*/
  width: 100%;
/*    background-color: red;*/
    padding: 15px;
    height: 145px;
}
.icon{
    float:left;
    margin: 5px 20px 0 0;
    
}
.icon .fas{
    font-size: 50px;
        color: #1ec785;
}
.fa-users{
    color: #1ec785;
}

.iconbox .value{
    font-size: 30px;
    line-height:22px;
}
.container1.sea .iconbox .value{
    color: #1ec785;
}
.container1.sea .back{
    background-color: #1ec785;
}
.container1.blue .back{
    background-color: #007bff;
}
.container1.darkgreen .back{
    background-color: #1fb5ac;
}
.container1.purple .back{
    background-color: #a48ad4;
}
.container1.purple .iconbox .value{
    color:#a48ad4;
}
.container1.darkgreen .iconbox .value{
    color: #1fb5ac;
}
.container1.sea .iconbox .value{
    color: #1ec785;
}
.container1.blue .iconbox .value{
    color:#007bff;
}
.iconbox .value span{
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    color: black !important;
}
.areaprogress{
    width: 100%;
    display: inline-block;
    padding: 20px 0 0;
}
.areaprogress h6{
    margin-left: -110px;
    font-size: 11px;
    text-transform: uppercase;
}

.areaprogress h6 span{
    float: right;
    padding: 1px 4px;
}
.areaprogress .progress{
    overflow: hidden;
    border-radius: 10px;
}
.progress-bar{
/*    position:relative;*/
    border-radius: 10px;
    padding: 0 10px;
}
.container1.sea .progress-bar {
    background-color: #1ec785;
}
.container1.purple .progress-bar{
    background-color:#a48ad4;
}
.container1.darkgreen .progress-bar {
    background-color:#1fb5ac;
}

.back .cell{
    height: 145px;
    display: table-cell;
    vertical-align: middle;
}
.group:before{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    content: "";
    width: 2px;
    background: rgba(0, 0, 0, 0.2);
}
.group{
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0 0 10px 0;
    margin: 0 0 0 0;
    text-align: center;
    font-size:20px;
    font-weight:600;
}
.group span{
   font-size: 17px;
    display: block;
    font-weight: normal;
    
}
.container1 .back .themebtn{
    height: auto;
    margin-top: 10px;
    font-size:20px;
    border: none;
    vertical-align: top;
    background: none;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0;
    font-weight: 700;
}
.container1.darkgreen .themebtn:hover{
    background-color: #1fb5ac;
    color: #fff;
}
.container1.blue .themebtn:hover{
    background-color: #007bff;
    color: #fff;
}
.container1.sea .themebtn:hover{
    background-color: #1ec785;
    color: #fff;
}
.container1.purple .themebtn:hover{
    background-color: #a48ad4;
    color: #fff;
}
.container1.darkgreen .fa-money-check-alt{
    color:#1fb5ac;
}
.iconbox .icon svg {
    width: 48px;
    height: 48px;
}
.iconbox .icon img {
    width: 60px;
    height: 50px;
}
.tablegraphcontent{
    
}
.tablegraph{
    margin-top:40px;
}



.profile {
    margin-top: 100px;
    background: #fff;
    
    
   
   margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: block;
    max-width: 100%;
}


.tabs {
   margin-top: 70px;
}
.tabs input[type=radio] {
  display: none; 
}
.tabs label {
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #262626;
  width: 20%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #eee;
  text-align: center;
  line-height: 3em; 
}
.tabs label:last-of-type {
  border-bottom: none; 
}
.tabs label:hover {
  background: #262626;
  color:#ffffff;
}
@media screen and (max-width: 1600px) {
    
.tabs label {
  width: 15%; } 
}
@media screen and (max-width: 900px) {
.tabs label {
  width:20%; 
  } 
}
@media screen and (max-width: 600px) {
    .tabs{
        margin-top:100px;
    }
.tabs label {
  width: 100%;
  display: block;
  border-bottom: 2px solid #eee;
  border-radius: 0; 
} 
}
@media screen and (max-width: 600px) {
.tabs {
  margin: 0; 
} 
}
#tab1:checked + label, #tab2:checked + label, #tab3:checked + label, #tab4:checked + label, #tab5:checked + label {
  background: #262626;
  color: #FFFFFF; }

.tab-content {
  position: absolute;
  top: -9999px;
  padding: 10px; 
}

.tab-content-wrapper{
  background: #eee;
  border-top: #262626 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
.tab-content-wrapper{
  background: #fff;
  
}
@media screen and (max-width: 600px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}

#tab1:checked ~ .tab-content-wrapper #tab-content-1, #tab2:checked ~ .tab-content-wrapper #tab-content-2, #tab3:checked ~ .tab-content-wrapper #tab-content-3, #tab4:checked ~ .tab-content-wrapper #tab-content-4, #tab5:checked ~ .tab-content-wrapper #tab-content-5 {
  position: relative;
  top: 0px;
 }

.tab-content table td{
    border-bottom: 1px solid #d4d6d7;
    border-collapse: collapse;
        padding: 15px;
         color: #383838;
/*        color: #7F8C8D;*/

}
.editform .tab-content table td{
   border-bottom:none;
    border-collapse: collapse;
        padding: 15px;
         color: #383838;
/*        color: #7F8C8D;*/

}

 tbody tr:last-child td {
        border-bottom: none;
        outline: none;
    }


/*
@media screen and (max-width: 414px) {
.tab-content-wrapper, .tab1-content-wrapper {
  border: none;
  border-radius: 0; 
} 
}
*/

@media (max-width: 414px) {
   button .addkart{
       float:left;
        display:block;
        margin-left:20px;
    }
}




/*  new home */

.container2{
/*
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
*/
	width: 1000px;
	height: 500px;
	display: flex;
}
.container2 .box{
	position: relative;
	width: 250px;
	height: 500px;
	background: #ccc;
	transition: 0.5s;
}
.container2 .box:hover{
	transform: scale(1.1);
	z-index: 1;
	box-shadow: 0 5px 20px rgba(0,0,0,1);
}
.container2 .box .thumb{
	position: absolute;
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.container2 .box:nth-child(odd) .thumb{
	bottom: 0;
	left: 0;
}
.container2 .box .thumb img{
	width: 100%;
	height: 100%;
} 
.container2 .box .details{
	position: absolute;
	width: 100%;
	height: 250px;
	background: #262626;
	overflow: hidden;
}
.container2 .box:nth-child(even) .details{
	bottom: 0;
	left: 0;
}
.container2 .box:nth-child(1) .details{
	background: #8553cb;
}
.container2 .box:nth-child(2) .details{
	background: #fe8f01;
}
.container2 .box:nth-child(3) .details{
	background: #79d400;
}
.container2 .box:nth-child(4) .details{
	background: #ff3b34;
}
.container2 .box .details .content{
	position: absolute;
	top: calc(50% + 16px);
	transform: translateY(-50%);
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}
.container2 .box:hover .details .content{
	top: calc(50%)
}
.container2 .box .details .content .fa{
	font-size: 80px;
	color: #fff;
}
.container2 .box .details .content h3{
	margin: 0;
	padding: 0;
	padding: 10px 0;
	color: #fff;
}
.container2 .box .details .content a{
	display: inline-block;
	padding: 5px 20px;
	color: #fff;
	border: 2px solid #fff;
	text-decoration: none;
	transition: 0.5s;
	border-radius: 20px;
	transform: scale(0);
}
.container2 .box:hover .details .content a{
	transform: scale(1);
}
.container2 .box .details .content a:hover{
	background: #fff;
	color: #262626;
}
@media (max-width: 412px) {
    .fixed-container{
        width:100%;
    }
    .cellgrid {
        width:100%;
        display:flex; 
        flex-direction:row;
        justify-content:space-around;
    }
    .cellgrid li{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        flex: 1 0 100%;
    }
}

@media (max-width: 1000px){
	.container2{
		width: 100%;
		height: auto;
		padding: 20px;
		box-sizing: border-box;
	}
	.container2 .box{
		height: 250px;
	}
	.container2 .box .thumb{
		display: block;
	}
}
@media (max-width: 768px){
	.container2{
		display: initial;
	}
	.container2 .box{
		width: 50%;
		height: auto;
		float: left;
	}
}
@media (max-width: 480px){
	.container2{
		top: 0;
		left: 0;
		transform: translate(0);
	}
	.container2 .box{
		width: 100%;
		height:250px;
		float: none;
	}
}
.table-form-horizontal{
    width: 100%;
    border-spacing: 20px;
    font-size: 15px;
    color: #959595;
}
.table-form-horizontal td:first-child {
    width: 25%;
    vertical-align: top;
    padding: 10px 0 0;
    text-align: right;
   
}
.table-form-horizontal tr{
     border-bottom:none;
}
.table-form-horizontal td {
    position: relative;
}
input[type="text"], .number .edit{
    outline:none;
    display: block;
    width: 100%;
/*    height: 35px;*/
    padding: 0;
    font-size: 15px;
    line-height: 1.42857143;
    color: #777;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type="text"], .number .edit:focus{
    border-bottom:2px solid rgba(81, 203, 238, 1);
}
.editform .table-form-horizontal small{
    font-style: italic;
/*
    font-size: 12px;
    font-style: italic;
    color: #777;
*/
}
.editform select{
    outline:none;
    display: block;
    width: 100%;
/*    height: 35px;*/
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
   
    
}
.editform select:focus{
     border-bottom:2px solid rgba(81, 203, 238, 1);
}
.editform textarea{
    outline:none;
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    resize: none;
}
.editform textarea:focus{
    border-bottom:2px solid rgba(81, 203, 238, 1);
}
.table-listing {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #ddd;
}
.table-listing th {
    text-align: left;
    padding: 10px;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
}
.gap{
    height: 15px;
    display:block;
    clear:both;
}
input[type="text"], .number .rewards{
   
    display: block;
    width: 100%;
    height: 35px;
    padding: 0;
    font-size: 15px;
    line-height: 1.42857143;
    color: #777;
    background-color: #ffffff;
    border: none;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type="text"], .number .rewards:focus{
    border:2px solid rgba(81, 203, 238, 1);
}
textarea.rewards{
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
    background-color: #ffffff;
    border: none;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    resize: none;
}
textarea.rewards:focus{
    border:2px solid rgba(81, 203, 238, 1);
}
.star{
    color: red;
}
.shop{
    font-size: 13px;
    
}
.editshop{
    margin-top: 100px;
    background: #fff;
    border: 1px solid #f5f5f5;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
   margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    display: block;
    width:100%;
    max-width: 100%;
}
.table-edit-shop h6{
    text-align:left;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
@media (max-width:360px){
    .table-edit-shop h6{
        font-size: 20px;
    }
}
.table-edit-shop input[type="text"], .number{
    outline:none;
    display: block;
    width: 50%;
   height: 35px;
    padding: 0;
    font-size: 15px;
    line-height: 1.42857143;
    color: #777;
    margin-left: 30px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.table-edit-shop input[type="text"]:focus, .number:focus{
    border-bottom:2px solid rgba(81, 203, 238, 1);
}
.table-edit-shop td:first-child {
    width: 25%;
    vertical-align: top;
    padding: 10px 0 0;
    text-align: right;
}
.table-edit-shop td {
    position: relative;
}
.shop .table-edit-shop textarea{
    outline: none;
    display: block;
    width: 50%;
    height: 100px;
    padding: 3spx 0;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: vertical;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    resize: none;
}
.shop .table-edit-shop textarea:focus{
    border-bottom:2px solid rgba(81, 203, 238, 1);
}
.clear{
    clear: both;
    display: block;
}
.table-edit-shop input[type="checkbox"]{
    margin-top: 10px;
    outline:none;
    display: block;
/*    width: 90%;*/
   height: 35px;
    padding: 0;
    font-size: 15px;
    line-height: 1.42857143;
    color: #777;
    margin-left: 30px;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.table-edit-shop input[type="file"]{
     border: none;
    margin-top: 10px;
     margin-left: 30px;
}

.table-edit-shop select{
     margin-top: 10px;
    outline:none;
    display: block;
    width: 50%;
/*    height: 35px;*/
    padding: 0;
    font-size: 14px;
    line-height: 1.42857143;
    color: #777;
     margin-left: 30px;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.ordertable tr th{
    font-weight: 600;
    font-size: 14px !important;
}
.ordertable tbody tr td{
    padding-left: 15px;
}